<form action="/signin" method="POST">
    <label for="user">Email</label>
    <input type="text" name="email" id="email">

    <label for="pass"> password</label>
    <input type="password" name="pass" id="pass">

    <button type="submit">Sig in</button>
</form>