<form action="/signup" method="POST">
    <label for="user">Name</label>
    <input type="text" name="name" id="name">

    <label for="user">Last</label>
    <input type="text" name="lastname" id="lastname">

    <label for="user">Phone</label>
    <input type="text" name="phone" id="phone">

    <label for="user">Email</label>
    <input type="text" name="email" id="email">

    <label for="pass"> password</label>
    <input type="password" name="pass" id="pass">

    <button type="submit">Signup</button>
</form>